/*This applies to the entire page*/
*{
    box-sizing: border-box;
}

body{
    font-family: Garamond, serif;;
    background-color: rgb(235, 235, 235);
    color:#300066;
    font-weight: bold;
}


/*This is to underline the incorrect word*/
.red_line{
    text-decoration: underline;
    text-decoration-color: red;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
    /* -webkit-text-underline-position: under;
    text-underline-position: under; */
}

/*These are the properties to add the border and height of the box*/
#input{                
    border: 2px solid rgb(95, 93, 93);              
    height: 400px;
    width: 90%; 
    margin: auto;
    padding: 20px;
    
}

#button1
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-left: 140px;
    position: absolute;
    background-color: #300066;
    color: white;
    border-color: rgb(128, 128, 128);
    border-radius: 5px;
    
}

/*These are the properties to align the heading of the page*/
.heading {
    margin: auto;
    text-align: center;
}

hr{
    color: #F0F0F0;
    margin-bottom: 25px;
    opacity: 0.3;
}


#langDiv
{
    padding-right: 80px;
    text-align: right;
    margin: auto;
    
}

#languageSelection{
    background-color: #300066;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    position: absolute;
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.9;
    height: 23px;
}

#pageLanguage{
    background-color: #300066;
    color: white;
    height: 18;
    width: 80;
    font-size: 12;
    margin-top: 2;
    margin-left: 10;
    position: absolute;
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5;
    padding-left: 5px;
}
/*These are the properties to set the style of the outline box
.border {
    margin: auto;
    border-style:solid;
    border-width: 5px;
    width: 90%;
    border-color: rgb(56, 54, 145);
}
*/      

/**The following is the css properties of the custom right click menu
* This was researched from https://www.geeksforgeeks.org/how-to-add-a-custom-right-click-menu-to-a-webpage/
* Thanks to @devansh07 for writing the article that provided it.
*/
.context-menu {
    position: absolute;
    text-align: center;
    background: #f9f6f6;
    border: 1px solid #7e7e7e;
    border-radius: 3px;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    cursor: pointer;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: rgb(204, 204, 204);
}
/***************************************************/

/*Responsiveness goes here*/
@media screen and (min-width: 768px) {
    .heading {
        padding-left: 10px;        
        text-align: left;
        width: 80%;
    }

    #divider{
        display: none;
    }

   

  
}